body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: fit-content;
}


input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  width: 250px;
  box-sizing: border-box;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
  outline: none;
}

button {
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 250px;
  font-size: 16px;
  transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
  background: #f0f0f0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

