.header1
{
    text-align: center;
    font-size: 45px;
}
.sipkanadpis
{
    display: flex;
    gap: 18%;
    margin-bottom: 2%;
}
#sipka
{
    width: 150px;
    margin-left: 9%;
}
.button
{
    display: inline-block;
    border: 2px solid;
    border-color: black;
    text-decoration: none;
    padding: 4px;
    background-color:whitesmoke;
    margin-left: 10%;
}
.boxik
{
    font-size: larger;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.formularik
{
    padding: 10px;  
}
#pizza
{
    width: 400px;
    height: 400px;
    transform: rotate(270deg);
}