.hero {
  height: 100vh;
  /* background: url("https://i.ytimg.com/vi/gaJJQI0143s/maxresdefault.jpg"); */
  /* background-position: center;
  background-size: cover; */
  
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  background: url("https://i.ytimg.com/vi/gaJJQI0143s/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: filter 0.8s ease;
}
.bg.blur {
  filter: blur(8px) brightness(0.48);

}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.hero.hide {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
}
.hidden {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

#starttlacitko
{
    width: 15%; 
    margin-top: 1%;
    margin-left: 42.5%; 
    border-radius: 45%; 
    height: 5%; 
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
    font-size: 111%;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
}
#starttlacitko:hover 
{
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}

.welcome {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.welcome.hide 
{
  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
}

.poll
 {
  position: absolute;
  color: whitesmoke;
  text-shadow:-1px -1px 0 black;
  font-weight: bold;
  top: 20px;
  left: 15%;
  transform: translateX(-50%) translateY(80px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.poll label {
  display: block;
  margin-bottom: 8px;
  
}
.poll.show 
{
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
.hidden-tlacitko
{
opacity:0;
transition: opacity 0.5s ease, transform 0.5s ease;
pointer-events: none;
}

.otazka2
 {
  position: absolute;
  color: whitesmoke;
  text-shadow:-1px -1px 0 black;
  font-weight: bold;
  top: 30%;
  left: 15%;
transform: translateX(-50%) translateY(80px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.otazka2 label {
  display: block;
  margin-bottom: 8px;
}
.otazka2.show 
{
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.otazka3
 {
   pointer-events: auto;
  position: absolute;
  color: whitesmoke;
  text-shadow:-1px -1px 0 black;
  font-weight: bold;
  top: 55%;
  left: 8%;
transform: translateY(80px);
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.otazka3 label {
  display: block;
  margin-bottom: 8px;
  
}
.otazka3.show 
{
  transform: translateY(0);
  opacity: 1;
}