body
{
    background-color:#F5FCFF;
}


.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  background: #1e1e1e;
}

.button {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    
  }

  .button img {
    width: 20px; /* Nastav šířku obrázku */
    margin-left: 10px; /* Mezera mezi textem a obrázkem */
  }

  a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      background-color: #4CAF50; /* Zelené tlačítko */
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: #45a049; /* Tmavší zelená při hover */
    }

    a img {
      max-width: 20px;
      margin-right: 10px;
    }

    