body
{
    background-color:#D0D9E2;
    margin: 0;
}
header
{
  display: block;
  background-color: black;
  height: 25px;
}

#h1
{
  text-align: center;
  font-size: 60px;
  margin-bottom:5%;
  margin-top:3%;

}

.cards {
  display: flex;
  gap: 200px;
  justify-content: center;
}
.cards h2
{
  font-size: xx-large;
}

.card {
  text-decoration: none;
  justify-content: center;
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 12px;
  background: #1E2019;
  color: goldenrod;
  font-size: larger;
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover
{
  background-color:#252720f5;
  transform: scale(1.03);
}
.card p
{
  padding-top: 5%;
}

.popis
{
  text-align: center;
  font-size: xx-large;
  color: rgb(19, 19, 19);
}
h3
{
  text-align: center;
  font-size: x-large;
  color: rgb(41, 41, 41);
}



.button {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
    