body
{
    background-color:#d2d9db;
    margin: 0;
}
header
{
  display: block;
  background-color: black;
  height: 25px;
}

#h1
{
  text-align: center;
  font-size: 60px;
  margin-bottom:5%;
  margin-top:3%;

}

.cards {
  display: flex;
  gap: 200px;
  justify-content: center;
}
.cards h2
{
  font-size: xx-large;
}

.card {
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 12px;
  background: #000000;
  color: goldenrod;
  font-size: larger;
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover
{
  background-color:rgb(26, 26, 26);
  transform: scale(1.03);
}
.popis
{
  text-align: center;
  font-size: xx-large;
  color: rgb(19, 19, 19);
}
h3
{
  text-align: center;
  font-size: x-large;
  color: rgb(41, 41, 41);
}



.button {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .button img {
    width: 20px; /* Nastav šířku obrázku */
    margin-left: 10px; /* Mezera mezi textem a obrázkem */
  }

  a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      background-color: #4CAF50; /* Zelené tlačítko */
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: #45a049; /* Tmavší zelená při hover */
    }

    a img {
      max-width: 20px;
      margin-right: 10px;
    }

    